video {
    object-fit: cover;
}

.heroHeader {
    font-weight: 400;
    font-size: 4.688rem;
    color: white;
    text-align: left;
}

.heroSubtitle {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: white;
}

.arrowImage {
    padding: 4rem;
    height: 4rem;
    width: auto;
}

.screenHeightContainer {
    width: 100%;
    height: 200vh;
}

.atLeastScreenHeightContainer {
    width: 100%;
    height: auto;
    min-height: 100vh;
}

.stickyContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sticky {
    position: sticky;
    top: 0;
}

.noTouch {
    pointer-events: none;
}

.dataMoshContainer {
    position: relative;
}

.flexDown {
    display: flex;
    flex-direction: column-reverse;
}

.flexCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.labHeader {
    padding: 2.25rem 0;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.headerContainer {
    margin: auto;
    max-width: 61.875rem;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.25rem;

    flex-grow: 1;
}

.logo {
    width: 100%;
    box-sizing: border-box;
    height: auto;

    z-index: 2;
}

.mosaic {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.mosaicRow {
    width: fit-content;
    height: 50%;
    display: flex
}

.mosaicRow:first-child {
    border-bottom: 1px solid black;
}

.spacer {
    height: 4.375rem;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 300px) {
    .logo {
        padding: 4rem 2rem;
    }

    .heroHeader {
        font-size: 2.125rem;
    }

    .heroSubtitle {
        font-size: 1.5rem;
    }

    .arrowImage {
        padding: 2.5rem;
        height: 3rem;
    }

    .headerContainer {
        gap: 1rem;
        flex-grow: 1;
    }

    .mosaicItem {
        padding: 1.5rem;
    }

    .labHeader {
        padding: 2.25rem 0;
        max-width: 65rem;
    }

    .arrow {
        margin-top: 0.25rem;
        height: 0.75rem;
        width: auto;
    }
}

@media only screen and (min-width: 375px) {
    .heroHeader {
        font-size: 2.25rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .logo {
        padding: 10.25rem 4rem;
    }

    .heroHeader {
        font-size: 3rem;
    }

    .heroSubtitle {
        font-size: 1.75rem;
    }

    .arrowImage {
        padding: 2.5rem;
        height: 3rem;
    }

    .headerContainer {
        max-width: 60rem;
        gap: 1rem;
        flex-grow: 1;
    }

    .mosaicItem {
        padding: 2.25rem;
    }

    .labHeader {
        padding: 3.5rem 0;
        max-width: 65rem;
    }

    .arrow {
        margin-top: 0.25rem;
        height: 1rem;
        width: auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .logo {
        padding: 10.25rem 4rem;
    }

    .heroHeader {
        font-size: 4.668rem;
    }

    .heroSubtitle {
        font-size: 2rem;
    }

    .arrowImage {
        padding: 4rem;
        height: 4rem;
    }

    .headerContainer {
        gap: 2.25rem;
        flex-grow: 1;
    }

    .mosaicItem {
        padding: 4rem;
    }

    .labHeader {
        padding: 3.5rem 0;
        max-width: 65rem;
    }

    .arrow {
        margin-top: 0.3rem;
        height: 1rem;
        width: auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}