.headSectionContainer {
    display: flex;
    flex-direction: column;
}

.headerContainer {
    display: flex;
    flex-direction: column;
}

.subtitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subtitle {
    width: 100%;
}

.rightItem {
    display: flex;
    flex-direction: column;
}

.rightItem:last-child {
    margin-bottom: 0rem;
}

.leftItem {
    margin-bottom: 1.25rem;
}

.leftItem p {
    color: #7B7B7B;
}

.caseGallery, .projectGallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.caseGallery div {
    flex-basis: 50%;
    box-sizing: border-box;
}

.projectGallery div {
    flex-basis: 33%;
    box-sizing: border-box;
}

.caseGallery img {
    width: 100%;
    height: auto;
}

.projectGallery img {
    width: 100%;
    height: auto;
}

.mediumWeight {
    font-weight: 500;
}

.square {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 300px) {
    .headSectionContainer {
        gap: 2rem;
    }

    .headerContainer {
        gap: 0.5rem;
    }

    .subtitleContainer {
        gap: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .rightItem {
        gap: 0.5rem;
        margin-bottom: 2rem;
    }

    .leftItem {
        margin-bottom: 1rem;
    }

    .leftItem p {
        font-size: 1rem;
    }

    .caseGallery div {
        flex-basis: 100%;
        padding: 0 0 1rem 0;
    }

    .projectGallery div {
        flex-basis: 100%;
        margin-bottom: 1.25rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .headSectionContainer {
        gap: 3.5rem;
    }

    .headerContainer {
        gap: 0.5rem;
    }

    .subtitleContainer {
        flex-direction: row;
        gap: 4rem;
        padding-top: 2rem;
        padding-bottom: 4rem;
    }

    .subtitle {
        max-width: 56rem;
        width: 100%;
    }

    .rightItem {
        display: flex;
        flex-direction: column;
        gap: 0.938rem;
        margin-bottom: 2.188rem;
    }

    .leftItem {
        margin-bottom: 1.25rem;
    }

    .leftItem p {
        font-size: 1.25rem;
    }

    .projectGallery {
        margin-left: -1.125rem;
        width: calc(100% + 2.25rem)
    }

    .projectGallery div {
        flex-basis: 33.33%;
        padding: 0 1.125rem;
        border-left: 1px solid black;
        margin-bottom: 2rem;
    }

    .projectGallery div:first-child {
        border-left: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .headSectionContainer {
        gap: 4.125rem;
    }

    .headerContainer {
        gap: 1.75rem;
    }

    .subtitleContainer {
        gap: 6rem;
        padding-top: 5.375rem;
        padding-bottom: 7.188rem;
    }

    .subtitle {
        max-width: 56rem;
        width: 100%;
    }

    .rightItem {
        display: flex;
        flex-direction: column;
        gap: 0.938rem;
        margin-bottom: 2.188rem;
    }

    .leftItem {
        margin-bottom: 1.25rem;
    }

    .leftItem p {
        color: #7B7B7B;
        font-size: 1.25rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .subtitle {
        max-width: 56rem;
        width: 100%;
    }

    .rightItem {
        display: flex;
        flex-direction: column;
        gap: 0.938rem;
        margin-bottom: 2.188rem;
    }

    .leftItem {
        margin-bottom: 1.25rem;
    }

    .leftItem p {
        color: #7B7B7B;
        font-size: 1.25rem;
    }
}