@import 'mixin';

.listContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.listContainer h3 {
    @include medium {
        font-size: 1.75rem;
    }

    @include large {
        margin-top: 2.125rem;
    }
}

.listItem {
    box-sizing: border-box;
}

.space {
    display: flex;
    flex-direction: column;

    @include small {
        gap: 2rem;
        margin-top: 2rem;
    }

    @include medium {
        margin-top: 1rem;
    }

    @include large {
        margin-top: 0rem;
        gap: 3rem;
    }
}

.listSpacing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include small {
        gap: 1rem;
    }

    @include medium {
        gap: 2.5rem;
    }
}

.dotItem {
    box-sizing: border-box;
}

.listItem img {
    width: 100%;
    aspect-ratio: 9/5;
    object-fit: cover;
}

.listItem:nth-child(-n+2) {
    @include small {
        border-bottom: 1px solid black;
        padding-bottom: 1.5rem;
    }

    @include medium {
        border-bottom: 1px solid black;
        padding-bottom: 2.5rem;
    }

    @include large {
        padding-bottom: 2.875rem;
    }
}

.listItem:nth-child(n+3) {
    @include small {
        padding-top: 1.5rem;
    }

    @include medium {
        padding-top: 2.5rem;
    }

    @include large {
        padding-top: 2.875rem;
    }
}

.listItem:nth-child(odd) {
    border-right: 1px solid black;
    padding-right: 12%;
}

.listItem:nth-child(even) {
    padding-left: 12%;
}

.dot {
    border-radius: 50%;
    background-color: black;

    @include small {
        width: 1.25rem;
        height: 1.25rem;
        margin-bottom: 1.5rem;
    }

    @include medium {
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: 2.5rem;
    }

    @include large {
        width: 2rem;
        height: 2rem;
        margin-bottom: 2.813rem;
    }
}