.infoSection {
    padding: 2.25rem 0;
}

.subtitle {
    max-width: 56rem;
    width: 100%;
}

.subtitleContainer {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding-top: 5.375rem;
    padding-bottom: 7.188rem;
}

.rightItem {
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
    margin-bottom: 2.188rem;
}

.leftItem {
    display: grid;
}

.leftItem img {
    width: 100%;
    height: auto;
    margin: 0;
}

.leftItem p {
    font-size: 1.25rem;
}

.leftItem a {
    font-size: 1.25rem;
    text-transform: Capitalize;
}

.square {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.mediumWeight {
    font-weight: 500;
}

.caseGallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.caseGallery div {
    box-sizing: border-box;
}

.caseGallery img {
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 1.125rem;
    box-sizing: border-box;
}

.doubleGallery {
    display: grid;
    grid-column-gap: 1rem;

    @include m.small {
        grid-template-columns: repeat(1, 1fr);
    }

    @include m.medium {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 300px) {
    .subtitleContainer {
        flex-direction: column;
        gap: 3rem;
        padding-top: 0rem;
        padding-bottom: 1.5rem;
    }

    .leftItem {
        margin-bottom: 0rem;
        max-width: 24rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .subtitleContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        padding-top: 0rem;
        padding-bottom: 1.5rem;
    }
}