a {
    font-family: Neue Haas Unica;
    text-transform: uppercase;
    font-weight: 400;
    color: black;
    font-size: 1.25rem;
    margin: 0;
}

input {
    background-color: transparent;
    border-radius: 0;
    color: black;
    border: 1px solid black;
    margin-right: 0.875rem;
}

.footerWrapper {
    position: relative;
    overflow: hidden;
}

.quadRef {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.blur {
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

.spacer {
    height: 4.375rem;
    width: 100%;
    background-color: white;
}

.linkContainer {
    display: flex;
    z-index: 999;
}

.linkItem {
    flex: 1;
    padding: 4rem;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.linkItem:first-child {
    flex: 2;
}

.linkItem:last-child {
    border-right: none;
}

.subItem {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
}

.logoContainer {
    margin: 0;
    padding: 1.875rem 3.75rem 0 3.75rem;
}

.logo {
    width: 100%;
    box-sizing: border-box;
    vertical-align: bottom;
    transform: translateY(2px);
}

.logoSubtitle {
    text-transform: uppercase;
    font-family: Neue Haas Unica;
    font-size: 0.875rem;
    color: #595959;
    margin-bottom: 0.5rem;
}