.carouselContainer {
    overflow: hidden;
    width: 100vw;
    height: 100%;
    position: relative;
}

.carousel {
    display: flex;
    width: fit-content;
    overflow-x: scroll;
    height: 100%;
    animation: scroll 20s linear infinite;
}

.carouselImage {
    flex-shrink: 0;
    height: 100%;
    object-fit: cover;
}

.carouselImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-33.33%);
    }
}