@use '../../mixin.scss' as m;

.contactContainer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.contactGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 62.125rem;
    row-gap: 2.5rem;
    column-gap: 1.25rem;
}

.fullCol {
    grid-column: 1 / span 2;
}

.tallRow {
    min-height: 13.25rem;
}

form h4 {
    margin-bottom: 3.25rem;
}

input {
    font-family: neue-haas-unica, sans-serif;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 200;
    color: black;
    padding-left: 0
}

input[type="text"], input[type="tel"]  {
    border: none;
    border-bottom: 1px solid black;
}

::placeholder {
    color: black;
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: black;
}