@font-face {
  font-family: "Articulat CF";
  font-weight: 400;
  src: url(./assets/fonts/Fontspring-DEMO-articulatcf-regular.otf);
}

@font-face {
  font-family: "Articulat CF";
  font-weight: 500;
  src: url(./assets/fonts/Fontspring-DEMO-articulatcf-medium.otf);
}

@font-face {
  font-family: "Neue Haas Unica";
  font-weight: 400;
  src: url(./assets/fonts/NeueHaasUnicaW1G-Regular.otf);
}

@font-face {
  font-family: "Neue Haas Unica";
  font-weight: 700;
  src: url(./assets/fonts/NeueHaasUnicaW1G-Black.otf);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  pointer-events: none;
}

h1 {
  font-family: Articulat CF;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 6.25rem;
  margin: 0;
}

h2 {
  font-family: Articulat CF;
  text-transform: uppercase;
  line-height: 100%;
  font-weight: 500;
  font-size: 4rem;
  margin: 0;
}

h3 {
  font-family: Articulat CF;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0.25rem 0 0 0;
}

h4 {
  font-family: Neue Haas Unica;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.75rem;
  margin: 0;
}

h5 {
  font-family: Neue Haas Unica;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

h6 {
  font-family: Neue Haas Unica;
  font-size: 1rem;
  font-weight: 700;
  color: #7B7B7B;
  text-transform: uppercase;
  margin: 0;
}

p {
  font-family: Neue Haas Unica;
  font-size: 1.75rem;
  font-weight: 400;
  margin: 0;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px solid black;
  height: 1px;
  box-shadow: none;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.section {
  max-width: 100rem;
  margin: auto;
}

.wSection {
  max-width: 100rem;
  margin: auto;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 7.188rem;
}

.heroHeader {
  max-width: 75rem;
}

.arrowDiv {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 0;
}

.arrowDiv img {
  height: 0.875rem;
  ;
}

.linkContainer {
  display: flex;
  gap: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.pageContainer {
  width: 100vw;
}

.galleryContainer {
  height: 25rem;
  margin-bottom: 4rem;
  overflow-x: auto;
}

.imgBox {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
}

.imgBox img {
  height: 100%;
  width: auto;
  padding-right: 0.875rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 300px) {
  .section {
    padding: 1.5rem;

  }

  .wSection {
    padding: 0 1.5rem;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.875rem;
  }

  p {
    font-size: 1rem;
  }

  .arrowDiv img {
    height: 0.875rem;
    ;
  }

  .galleryContainer {
    height: 8rem;
    margin-bottom: 1rem;
  }

  .headerContainer {
    gap: 2rem;
  }

  .spacer {
    width: 100%;
    height: 3rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .section {
    padding: 3.25rem;
  }

  .wSection {
    padding: 0 3.25rem;
  }

  h1 {
    font-size: 6.25rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    font-size: 1.25rem;
  }

  .arrowDiv img {
    height: 1.5rem;
  }

  .galleryContainer {
    height: 16rem;
    margin-bottom: 2rem;
  }

  .headerContainer {
    gap: 7.188rem;
  }

  .spacer {
    width: 100%;
    height: 6.25rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .section {
    padding: 3.75rem;
  }

  .wSection {
    padding: 0 3.75rem;
  }

  h1 {
    font-size: 6.25rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    font-size: 1.25rem;
  }

  .arrowDiv img {
    height: 2rem;
  }

  .galleryContainer {
    height: 28rem;
    margin-bottom: 2rem;
  }

  .spacer {
    width: 100%;
    height: 6.25rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .section {
    padding: 3.75rem;
  }

  .wSection {
    padding: 0 3.75rem;
  }

  .spacer {
    width: 100%;
    height: 6.25rem;
  }
}