@use './mixin.scss' as m;

:root {
    font-family: Articulat CF, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color-scheme: light dark;
    color: black;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    margin: 0;
    padding: 0;
}

canvas {
    pointer-events: none;
}

h1 {
    font-family: articulat-cf, sans-serif;
    text-transform: uppercase;
    font-size: 4.688rem;
    line-height: 110%;
    font-weight: 500;
    margin: 0;

    @include m.small {
        font-size: 3rem;
    }
    @include m.medium-small {
        font-size: 3.5rem;
    }
    @include m.medium {
        font-size: 4.688rem;
    }
}

h2 {
    font-family: articulat-cf, sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 116%;
    font-weight: 500;
    margin: 0;
}

h3 {
    font-family: articulat-cf, sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 117.5%;
    font-weight: 500;
    margin: 0;
}

h4 {
    font-family: articulat-cf, sans-serif;
    text-transform: uppercase;
    font-size: 1.75rem;
    line-height: 142%;
    font-weight: 400;
    margin: 0;
}

h5 {
    font-family: neue-haas-unica, sans-serif;
    text-transform: uppercase;
    font-size: 1.25rem;
    line-height: 210%;
    font-weight: 400;
    margin: 0;
}

h6 {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 205%;
    color: #7B7B7B;
    text-transform: uppercase;
    margin: 0;
}

p {
    font-family: neue-haas-unica, sans-serif;
    font-size: 1.75rem;
    line-height: 150%;
    font-weight: 400;
    margin: 0;
}

a {
    text-decoration: inherit;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid black;
    height: 1px;
    box-shadow: none;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.section {
    max-width: 108rem;
    margin: auto;

    @include m.small {
        padding: 2.5rem;
    }

    @include m.medium {
        padding: 3.75rem;
    }
}

.wSection {
    max-width: 108rem;
    margin: auto;

    @include m.small {
        padding: 0 2.5rem;
    }

    @include m.medium {
        padding: 0 3.75rem;
    }
}

.headerContainer {
    display: flex;
    flex-direction: column;
    gap: 7.188rem;
}

.heroHeader {
    max-width: 80rem;
}

.arrowDiv {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem 0;
}

.arrowDiv img {
    margin: 0;

    @include m.small {
        height: 0.875rem;
    }

    @include m.medium {
        height: 1.5rem;
    }

    @include m.large {
        height: 2rem;
    }
}

.linkContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pageContainer {
    width: 100vw;
}

.galleryContainer {
    overflow-x: auto;

    @include m.small {
        height: 16rem;
        margin-bottom: 1rem;
    }

    @include m.medium {
        height: 16rem;
        margin-bottom: 2rem;
    }

    @include m.large {
        height: 28rem;
        margin-bottom: 2rem;
    }
}

.imgBox {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
}

.imgBox img {
    height: 100%;
    width: auto;
    padding-right: 0.875rem;
}

.spacer {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 6.25rem;
}