:root {
  font-family: Articulat CF, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: black;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  pointer-events: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

h1 {
  font-family: articulat-cf, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 6.25rem;
  margin: 0;
}
@media only screen and (min-width: 300px) {
  h1 {
    font-size: 2.25rem;
  }
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 6.25rem;
  }
}
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 6.25rem;
  }
}

h2 {
  font-family: articulat-cf, sans-serif;
  text-transform: uppercase;
  line-height: 100%;
  font-weight: 500;
  margin: 0;
}
@media only screen and (min-width: 300px) {
  h2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 992px) {
  h2 {
    font-size: 4rem;
  }
}

h3 {
  font-family: articulat-cf, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0.25rem 0 0 0;
}
@media only screen and (min-width: 300px) {
  h3 {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 992px) {
  h3 {
    font-size: 2.5rem;
  }
}

h4 {
  font-family: neue-haas-unica, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}
@media only screen and (min-width: 300px) {
  h4 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  h4 {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 992px) {
  h4 {
    font-size: 1.25rem;
  }
}

h5 {
  font-family: neue-haas-unica, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}
@media only screen and (min-width: 300px) {
  h5 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  h5 {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 992px) {
  h5 {
    font-size: 1.25rem;
  }
}

h6 {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 700;
  color: #7B7B7B;
  text-transform: uppercase;
  margin: 0;
}
@media only screen and (min-width: 300px) {
  h6 {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 768px) {
  h6 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  h6 {
    font-size: 1rem;
  }
}

p {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  margin: 0;
}
@media only screen and (min-width: 300px) {
  p {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 992px) {
  p {
    font-size: 1.25rem;
  }
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px solid black;
  height: 1px;
  box-shadow: none;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.section {
  max-width: 100rem;
  margin: auto;
}
@media only screen and (min-width: 300px) {
  .section {
    padding: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .section {
    padding: 3.25rem;
  }
}
@media only screen and (min-width: 992px) {
  .section {
    padding: 3.75rem;
  }
}

.wSection {
  max-width: 100rem;
  margin: auto;
}
@media only screen and (min-width: 300px) {
  .wSection {
    padding: 0 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .wSection {
    padding: 0 3.25rem;
  }
}
@media only screen and (min-width: 992px) {
  .wSection {
    padding: 0 3.75rem;
  }
}

.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 7.188rem;
}
@media only screen and (min-width: 300px) {
  .headerContainer {
    gap: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .headerContainer {
    gap: 7.188rem;
  }
}
@media only screen and (min-width: 992px) {
  .headerContainer {
    gap: 7.188rem;
  }
}

.heroHeader {
  max-width: 75rem;
}

.arrowDiv {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 0;
}

.arrowDiv img {
  margin: 0;
}
@media only screen and (min-width: 300px) {
  .arrowDiv img {
    height: 0.875rem;
  }
}
@media only screen and (min-width: 768px) {
  .arrowDiv img {
    height: 1.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .arrowDiv img {
    height: 2rem;
  }
}

.linkContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pageContainer {
  width: 100vw;
}

.galleryContainer {
  overflow-x: auto;
}
@media only screen and (min-width: 300px) {
  .galleryContainer {
    height: 16rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .galleryContainer {
    height: 16rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .galleryContainer {
    height: 28rem;
    margin-bottom: 2rem;
  }
}

.imgBox {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
}

.imgBox img {
  height: 100%;
  width: auto;
  padding-right: 0.875rem;
}

.spacer {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
@media only screen and (min-width: 300px) {
  .spacer {
    height: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .spacer {
    height: 6.25rem;
  }
}
@media only screen and (min-width: 992px) {
  .spacer {
    height: 6.25rem;
  }
}

/*# sourceMappingURL=index.css.map */
