$sm: 300px;
$msm: 375px;
$md: 768px;
$lg: 992px;
$hu: 1200px;

@mixin small {
    @media only screen and (min-width: $sm) {
        @content;
    }
}

@mixin medium-small {
    @media only screen and (min-width: $msm) {
        @content;
    }
}

@mixin medium {
    @media only screen and (min-width: $md) {
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: $lg) {
        @content;
    }
}

@mixin huge {
    @media only screen and (min-width: $hu) {
        @content;
    }
}