@use '../../mixin.scss' as m;

.projectGallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @include m.small {
        margin-left: -1.125rem;
        width: calc(100% + 2.25rem)
    }

    @include m.medium {
        margin-left: -2.25rem;
        width: calc(100% + 4.5rem)
    }
}

.projectGallery div {
    flex-basis: 33.33%;
    box-sizing: border-box;
    height: fit-content;
    border-left: 1px solid black;
    margin-bottom: 2rem;
    padding: 0 2.25rem;
}

.projectGallery h4 {
    font-size: 1.25rem;
}

.projectGallery img {
    width: 100%;
    aspect-ratio: 5/4;
    object-fit: cover;
}

.seeMoreHeader {
    padding: 2rem 0;
}

.regular {
    font-weight: 400;
}

.projectGallery div:first-child {
    border-left: none;
}